<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Funcionamento</h2>
                    <h3 class="section-subheading text-muted">Veja como o nosso sistema funciona: </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/caminhao.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Chegada dos grãos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Assim que os grãos chegam ao armazém o sistema é capaz de coletar todas as informações sobre a origem do produto. Além disso, o software pode ser integrados à componentes já existentes como cancelas ou balanças. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/marcacao.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marcação das Bags</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Logo que são descarregasdas, as bags recebem um QR Code único que irá servir como identificador de todo o seu trajeto no interior do armazém. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/alocacao.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Alocação no Armazém</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A partir de comandos enviados pelo sistema e com o auxilio de câmeras, as empilhadeiras realizam a leitura dos QR Codes nas bags e conseguem alocar os produtos de maneira rápida e eficiente.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/real.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>controle em tempo real</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">O software informa em tempo real a posição das bags no interior do armazém, o tipo de café e o status de processamento. É possível enviar novos comando para as empilahdeiras e saber como todas as áreas da empresa estão trabalhando.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sales.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ordens de Venda</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tome decisões de alto nível sem muito esforço. O sistema possibilita a formação de ligas e emissão de ordens de venda diretamente para as empilhadeiras.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>