<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Controle seu armazém, rastreie sua produção e aumente seus ganhos!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                          <!--  <i class="fa fa-circle fa-stack-2x text-primary">  -->
                             <img src="img/logos/rastreamento.png" >
                    </span>
                    <h4 class="service-heading">Rastreamento</h4>
                    <p class="text-muted">Saiba todo o trajeto dos grãos desde a lavoura até o momento da exportação. Forneça todo o histórico da produção ao cliente e agregue mais valor ao seu produto.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/relatorio.png" >
                    </span>
                    <h4 class="service-heading">Emissão de Relatórios</h4>
                    <p class="text-muted">Tenha total controle sobre movimentações de seu amarmazém a partir da emissão de relatórios períodicos. Tome decisões de compra e venda com base na situação real do armazém e maximize seus lucros. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/logos/estoque.png" >
                    </span>
                    <h4 class="service-heading">Controle de Estoque</h4>
                    <p class="text-muted">Saiba a posição exata de cada bag no interior do armazém, controle melhor a entrada e saída de grãos. Evite desperdícios e aumente a sua eficiência.</p>
                </div>
            </div>
        </div>
    </section>